<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Vue</title>

    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js">

    </script>

</head>
<body>

    <div id = "app">

        <div v-for="(pessoa,index) in pessoas" :key="index">
        
    <div v-if="pessoa.ativo">

    <p>Nome: {{pessoa.nome}}</p>
    <p>CPF: {{pessoa.cpf}}</p>
    <p>RG: {{pessoa.rg}}</p>
<hr>
    </div>
    </div>

    <script>

        const app = Vue.createApp({
            data(){
                return {
                    pessoas: [
                        {
                    
                        nome: 'Maria',
                        cpf: 123445,
                        rg: 342342,
                        ativo: true,
                        },
                        {
                        nome: 'José',
                        cpf: 1244443445,
                        rg: 342344444444442,
                        ativo: true,
                        },
                        {
                        nome: 'João',
                        cpf: 999999,
                        rg: 4545454542342,
                        ativo: true,
                        }
                    ]
                };
            },
        });

        app.mount('#app');
    </script>


</body>
</html>